<!-- <h3> Hi ! {{playerName}}</h3> -->
<div>

  <!-- <input [(ngModel)]="playerName" type="text" name="playerName" id="playerName" class="playerName" placeholder="your username"> -->
  <!-- <br> -->
  <button (click)="fetchGames()" class="btn btn-red"><span>Show Games!</span></button>
</div>

<div>
  <div *ngFor="let match of matches; let i=index">
    <h4>{{opponentNames[i]}}</h4>
    <h2>{{choosingWord[i]?.toUpperCase()}}</h2>
    <div class="select">
      <select [(ngModel)]="choosingWord[i]" class="select-text">
        <option *ngFor="let word of foundWords[i]">{{word}}</option>
      </select>
      <span class="select-bar"></span>
    </div>
    <button (click)="deleteWord(i)">x</button>
    <button (click)="findWords(i)" class="btn"><span>Find! {{foundWords[i]?.length}}</span></button>
    <button (click)=clearSelected(i) class="btn btn-orange"><span>Clear</span></button>
    <div class="square-container">
      <div *ngFor="let tile of tileGrids[i]; let j=index">
        <div class="square owner-{{tileGrids[i][j]['o']}} surrounded-{{tileGrids[i][j]['s']}}">
          <div class="content">
            <div class="toggle">
              <input type="checkbox" [(ngModel)]="selectedTile[i][j]" name="check-{{i}}-20" value="{{tileGrids[i][j]['t']}}">
              <span class="button"></span>
              <span class="label">{{tileGrids[i][j]['t']}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>