<h3> Hi ! {{playerName}}</h3>
<div>

  <input [(ngModel)]="playerName" type="text" name="playerName" id="playerName" class="playerName" placeholder="your username">
  <br>
  <button (click)="fetchGames()">Fetch Games!</button>
</div>

<div>
  <div *ngFor="let match of matches; let i=index">
    <h4>{{userNames[i]}}</h4>
    <h2>{{choosingWord[i]}}</h2>
    <div class="square-container">
      <div *ngFor="let tile of tileGrids[i]; let j=index">
        <div class="square owner-{{tileGrids[i][j]['o']}} surrounded-{{tileGrids[i][j]['s']}}">
          <div class="content">
            <div class="toggle">
              <input #cb type="checkbox" (change)="selectLetter(cb, i, j)" name="check-{{i}}-20" value="{{tileGrids[i][j]['t']}}">
              <span class="button"></span>
              <span class="label">{{tileGrids[i][j]['t']}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="findWords(i)" >Find!</button>
    <select #sl ng-selected="choosingWord[i]" (change)="chooseWord(sl,i)">
        <option *ngFor="let word of foundWords[i]" >{{word}}</option>
    </select>
  </div>
</div>