/*multiple selector*/
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }
  
//   body {
//     margin: 0 auto;
//     font-family: 'Lato', sans-serif;
//     color: #b3b3b3;
//     background-color: #31a2ac;
//     text-align: center;
//     margin-top: 0;
//   }
  
  /*========================================================
            Quiz Section
  ========================================================*/
  /*styling quiz area*/
  .main {
    background-color: #fcfcfc;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  /*Editing the number of questions*/
  span {
    float: left;
  }
  
  /*Editing the number of questions*/
  span {
    float: left;
  }
  
  /*format text*/
  p {
    padding: 10px 10px 0;
  }
  
  /*Form area width*/
  .form-area, ul {
    margin: 20px auto;
    max-width: 550px;
    padding-left: 20px;
  }
  
  /*formatting answers*/
  li {
    list-style-type: none;
    text-align: left;
    background-color: transparent;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    font-weight: normal;
  }
  
  li:hover {
    background: #ECEEF0;
  }
  
  /*Change effect of question when the questions is selected*/
  .selected, .selected:hover {
    background: #FFDEAD;
  }
  
  /*change correct answer background*/
  .correct-true, .correct-true:hover {
    background: rgb(69, 139, 69);
    color: white;
  }
  
  /*change wrong answer background*/
  .wrong, .wrong:hover {
    background: #db3c3c;
    color: white;
  }

  span.odds{
    float: right;
    font-size: 70%;
  }
  
  /*********Volume Slider begin***********/

  #volume-slider{
    display: inline;
  }
/* .slideThree */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px;
  position: relative;
  display: inline-block;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: inline;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

/* end .slideThree */
// @keyframes fadeInOut {
//   0% {
//     opacity: 0;
//   }

//   45% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//   }
// }

.fade-text {
  font-size: 2rem;
  position: relative;
  top: 1rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  // animation-name: fadeInOut;
  // animation-delay: 0.5s;
  // animation-duration: 6s;
}


  /*********Volume Slider end***********/



  /*===========Idioms highlighter============*/
  .idiom-confound{
    font-size: 2em;
  }
  .first-true{
    background-color: #009900;
  }
  .second-true{
    background-color: #24c324;
  }
  .third-true{
    background-color: #90fd90;
  }
  .fourth-true{
    background-color: #d6ffd6;
  }