/*multiple selector*/
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }
  
//   body {
//     margin: 0 auto;
//     font-family: 'Lato', sans-serif;
//     color: #b3b3b3;
//     background-color: #31a2ac;
//     text-align: center;
//     margin-top: 0;
//   }
.bg-img:before{
  /* The image used */
  background-image: url("assets/quiz.jpg");
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html, body {
    font-family: PingFang, Helvetica, Arial, sans-serif;
    text-align: center;
    height: 100%;
    background-color: #fafafa;
  }
  .bg{
    overflow: hidden;
    display: block;
  }

  .bg:before {
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    transition: background-image 1000ms ease-in-out;
    margin: 0;
    padding: 0;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
    opacity: 0.8;

}
  
  /*========================================================
            Quiz Section
  ========================================================*/
  /*styling quiz area*/
  .main {
    background-color: #fcfcfc77;
    margin: 200px auto;
    width: 70%;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  /*format text*/
  p {
    font-family: PingFang, Helvetica, Arial, sans-serif;
    line-height: 110%;
    padding: 10px 10px 0;
  }
  
  /*Form area width*/
  .form-area, ul {
    margin: 20px auto;
    max-width: 550px;
    padding-left: 20px;
    font-size: 1.2em;
  }
  
  /*formatting answers*/
  li {
    font-family: PingFang, Helvetica, Arial, sans-serif;
    list-style-type: none;
    text-align: left;
    background-color:  #fcfcfcaa;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    font-weight: normal;
  }
  
  li:hover {
    background: #ECEEF0;
  }
  
  /*Change effect of question when the questions is selected*/
  .selected, .selected:hover {
    background: #FFDEAD;
    font-size: 1.5em;
  }
  
  /*change correct answer background*/
  .correct-true, .correct-true:hover {
    background: rgb(69, 139, 69);
    color: white;
  }
  
  /*change wrong answer background*/
  .wrong, .wrong:hover {
    background: #db3c3c;
    color: white;
  }

  span.odds{
    float: right;
    font-size: 70%;
  }
  
  /*********toggelSwitch begin***********/

  .widgit-area{
    position: relative;
    z-index: 1;
  }
  #volume-slider{
    display: inline;
  }
/* .toggelSwitch */
.toggelSwitch {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px;
  position: relative;
  display: inline-block;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.toggelSwitch-img{
  display: block;
}
.toggelSwitch:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.toggelSwitch:before {
  content: 'VOL';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.toggelSwitch-vol:before {
  content: 'VOL';
}
.toggelSwitch-img:before {
  content: 'IMG';
}
.toggelSwitch label {
  display: inline;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  opacity: .999;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.toggelSwitch input[type=checkbox] {
  visibility: hidden;
}
.toggelSwitch input[type=checkbox]:checked + label {
  left: 43px;
}

.fade-text {
  display: inline;
  white-space:nowrap;
  z-index: 1;
  font-size: 1.5rem;
  position: relative;
  opacity: 0;
  color: #F0A3BE;
}


  /*********toggelSwitch end***********/


  /*.................Answer image begin.................*/
.ansImg {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  width: 40%;
  min-width: 500px;
  margin: 0 auto;
  opacity: 0;
  z-index: 2;
}
.ansImg img{
  position: relative;
  object-fit: cover;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


  /*.................Answer image ends.................*/


  /*===========Idioms highlighter============*/
  .idiom-confound{
    font-size: 2em;
  }
  .first-true{
    background-color: #009900;
  }
  .second-true{
    background-color: #24c324;
  }
  .third-true{
    background-color: #90fd90;
  }
  .fourth-true{
    background-color: #d6ffd6;
  }